
/*Responsive Style*/

@media (max-width: 980px){
    body{
        background-color: deepskyblue;
    }
    .banner img{
        display: none;
    }
    .section h3{
        color: white;
        padding-bottom: 25px;
    }
    .first{
        display: none;
    }
    .section p{
        color: white;
        margin-bottom: 25px;
    }
    .form{
        box-shadow: none;
    }
    button{
        background: #4382eb;
        position: absolute;
        color: white;
        padding: 1.0em;
        font-size: 1.0em;
        cursor: pointer;
        box-shadow: none;
    }
}

@media (max-width: 768px){
    body{
        background-color: deepskyblue;
    }
    .banner img{
        display: none;
    }
    .section h3{
        font-size: 1.0em;
        color: white;
        padding-bottom: 25px;
    }
    .first{
        display: none;
    }
    .section p{
        font-size: 1.0em;
        color: white;
        margin-bottom: 25px;
    }
    .section p b{
        font-size: 1.0em;
    }
    .form{
        box-shadow: none;
    }
    button{
        background: #4382eb        ;
        position: absolute;
        color: white;
        padding: 1.0em;
        font-size: 1.0em;
        cursor: pointer;
        box-shadow: none;
    }
}

@media (max-width: 700px){
    body{
        background-color: deepskyblue;
    }
    .banner img{
        display: none;
    }
    .section h3{
        font-size: 1.0em;
        color: white;
        padding-bottom: 25px;
    }
    .first{
        display: none;
    }
    .section p{
        font-size: 1.0em;
        color: white;
        margin-bottom: 25px;
    }
    .section p b{
        font-size: 1.0em;
    }
    .form{
        box-shadow: none;
    }
    button{
        background:#4382eb;
        position: absolute;
        color: white;
        padding: 1.0em;
        font-size: 1.0em;
        cursor: pointer;
        box-shadow: none;
    }
}